
<div class="my-posts">
  <h1>My Posts</h1>
  <%= render 'table', posts: @my_posts %>
</div>
<div class="posted-post">
  <h1>All Posts</h1>
  <%= render 'table', posts: @all_posts %>
</div>

<%= link_to 'New Post', new_post_path, class: 'btn btn-primary' %>

