<div class="container">
  

<div class="col-md-6">
  <h1>My Posts</h1>
<%= render 'table', posts: @my_posts %>
</div>
<div class="col-md-6">
  <h1>All Posts</h1>
<%= render 'table', posts: @all_posts %>
</div>
<br>

<%= link_to 'New Post', new_post_path %>
</div>
